@use "../../abstracts/index"as *;

.group-btn {
    display: flex;
    align-items: center;
}

.group-btn-slider {
    display: flex;
    align-items: center;
    gap: 8px;
}

.collection-v01 {
    display: flex;
    flex-direction: column;

    .cls-image {
        margin-bottom: 16px;
        border-radius: 8px;
        overflow: hidden;
    }

    .cls_name {
        margin-bottom: 12px;
    }

    .cls_desc {
        margin-bottom: 16px;
    }
}


.collection-v02 {
    display: grid;
    place-items: center;

    .cls-image {
        max-width: 106px;
        position: relative;
        margin-bottom: 16px;
        border-radius: 50%;

        &::before {
            content: "";
            position: absolute;
            inset: 0px;
            border-radius: 50%;
            border: 4px solid transparent;
            @include transition3;
            pointer-events: none;
            z-index: 1;
        }

        &:after {
            content: "";
            position: absolute;
            inset: 0px;
            border-radius: 50%;
            padding: 3px;
            border: 1px solid var(--black);
            @include transition3;
            @include hidden;
            pointer-events: none;
            z-index: 3;
        }
    }

    &:hover {
        .cls-image {
            &::before {
                border-color: var(--bg);
            }

            &::after {
                @include visible;
            }
        }
    }
}

.collection-v03 {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    display: flex;

    .cls-content {
        position: absolute;
        left: 15px;
        right: 15px;
        bottom: 24px;
        @include flex(center, center);
    }

    .btn-action {
        text-transform: capitalize;
        font-weight: normal;
    }

    @include res(xl, min) {
        .btn-action {
            padding-right: 24px;
            padding-left: 24px;
        }
    }
}

.collection-v04 {
    position: relative;

    .cls-content {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 20px 15px;
        display: grid;
        place-items: start;
        gap: 12px;
        background: linear-gradient(180deg, rgba(140, 125, 92, 0) 0%, rgba(77, 54, 5, 0.34) 100%);

    }

    @include res(xxl, min) {
        .cls-content {
            padding: 40px;
            gap: 16px;
        }
    }
}

.collection-v05 {
    position: relative;
    border-radius: 8px;
    overflow: hidden;

    .cls-content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        padding: 20px 15px;
    }

    .cls_name {
        margin-bottom: 16px;
    }

    .cls_desc {
        margin-bottom: 24px;
    }



    @include res(xl, min) {
        .cls-content {
            padding: 32px;
        }

        .cls_desc,
        .cls_link {
            @include transition3;
        }

        &:not(:hover) {

            .cls_desc,
            .cls_link {
                @include hidden;
                transform: translateY(-10px);
            }

        }
    }
}

.collection-v06 {
    position: relative;
    border-radius: 8px;
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 30%;
        background: linear-gradient(180deg, rgba(80, 92, 26, 0) 0%, rgba(80, 92, 26, 0.56) 100%);
        z-index: 1;
    }

    .cls-image {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .cls-content {
        position: absolute;
        bottom: 8px;
        right: 8px;
        left: 8px;
        padding: 20px 15px;
        border-radius: 6px;
        display: grid;
        place-items: start;
        background: #FFFFFF33;
        backdrop-filter: blur(32px);
        @include transition3;
        z-index: 2;
    }

    .cls_desc,
    .cls_name {
        @include transition3;
        margin-bottom: 16px;
    }


    @include res(xl, min) {
        .cls-content {
            padding: 32px;
        }

        &:not(:hover) {

            .cls_desc {
                @include hidden;
                margin-top: -64px;
            }

            .tf-btn-icon {
                @include hidden;
                margin-top: -24px;
            }

            .cls_name {
                margin-bottom: 0;
            }

            .cls-content {
                background: transparent;
                backdrop-filter: blur(0px);
            }
        }

    }
}

.collection-v07 {
    position: relative;
    border-radius: 12px;
    overflow: hidden;

    .cls-content {
        position: absolute;
        top: 0%;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 16px;
        display: grid;
        place-items: center;
        place-content: center;
        text-align: center;
        z-index: 2;
        @include transition3;
    }

    .cls_name {
        margin-bottom: 12px;
    }

    .cls_desc {
        margin-bottom: 24px;
    }

    .tf-list {
        @include transition3;

        li {
            justify-content: center;
            transform: translateY(20px);
            @include hidden;
            @include transition3;
        }

        @for $i from 1 through 4 {
            li:nth-child(#{$i}) {
                transition-delay: $i * 80ms;
            }
        }
    }

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        background: linear-gradient(180deg, rgba(103, 37, 0, 0) 0%, rgba(103, 37, 0, 0.16) 40%, rgba(103, 37, 0, 0.32) 64%, rgba(103, 37, 0, 0.64) 80%, rgba(103, 37, 0, 0.8) 100%);
        z-index: 1;
        @include transition3;
        @include hidden;
    }

    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        @include transition3;
        background: #0000007A;
        z-index: 1;
    }


    @include res(xl, min) {
        .cls_desc {
            margin-bottom: 40px;
        }

        &:not(:hover) {
            &::after {
                height: 36%;
                @include visible;
            }

            &::before {
                height: 50%;
                @include hidden;
            }

            .cls-content {
                top: calc(100% - 160px);
            }

            .tf-list {
                transform: translateY(100%);
                margin-bottom: -152px;
                @include hidden;

            }
        }

        &:hover {
            .tf-list {
                li {
                    transform: translateY(0);
                    @include visible;
                }
            }
        }
    }
}

.collection-v08 {
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 1.56px 11.93px 0px #00000014,
        0px 1.04px 1.56px 0px #0000001F;

    .cls-content {
        padding: 20px;
        display: grid;
        place-items: start;
        gap: 12px;
    }

    .cls-image {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.collection-v09 {
    position: relative;
    border-radius: 20px;
    overflow: hidden;

    .cls-content {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        padding: 20px 15px;
        display: flex;
        justify-content: space-between;
        align-items: end;
    }

    .tf-btn-rounded {
        &:hover {
            background: var(--main_800);
        }
    }

    @include res(xl, min) {
        .cls-content {
            padding: 40px;
        }
    }
}

.collection-v10 {
    position: relative;

    .cls-image {
        border-radius: 8px;
        overflow: hidden;
        display: flex;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .cls-content {
        position: absolute;
        bottom: 8px;
        left: 8px;
        right: 8px;
    }
}

.collection-v11 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    margin: 0 auto;

    .img {
        border-radius: 8px;
        overflow: hidden;
        display: flex;
        position: relative;
        z-index: 2;
    }

    .img-item {
        position: absolute;

        &.item-1 {
            top: 0;
            left: -20%;
            transform: rotate(-21deg);
        }

        &.item-2 {
            top: 0;
            right: -20%;
            transform: rotate(21deg);
        }
    }

    .cls-image {
        position: relative;
    }
}

.infiniteSlide-text {
    padding-top: 16px;
    padding-bottom: 16px;
    background: var(--bg-3);

    .infiniteSlide-item {
        margin-left: 12px;
        margin-right: 12px;

        .br-line {
            width: 64px;
        }
    }
}

.wg-quantity {
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--line-5);
    padding: 7px 15px;
    border-radius: 99px;
    overflow: hidden;
    min-width: 110px;
    flex-shrink: 0;

    .quantity-product {
        width: 38px;
        padding: 0;
        background-color: transparent;
        border: 0;
        text-align: center;
        font-weight: 500;
        text-align: center;
        vertical-align: middle;
        color: var(--black);
        pointer-events: none;
    }

    .btn-quantity {
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        color: var(--black);
        cursor: pointer;
        @include transition3;

        &:hover {
            color: var(--primary);
        }
    }

    &.style-2 {
        min-width: 86px;
        padding: 3px 11px;

        .quantity-product {
            width: 22px;
        }
    }

    @include res(xl, min) {
        min-width: 110px;
        padding: 11px 15px;
    }

    @include res(md) {
        min-width: unset;
    }
}

.countdown-v01 {
    .countdown__item {
        &:last-child {
            min-width: 32px;
            display: inline-flex;
        }
    }

    @include res(lg) {
        .countdown__item {
            &:last-child {
                min-width: 28px;
            }
        }
    }
}

.countdown-v02 {
    display: flex;
    justify-content: space-between;
    padding: 11px;
    border: 1px solid var(--text-3);
    border-radius: 8px;
}

.countdown-v03 {
    flex: 1;

    .countdown__timer {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    .countdown__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        aspect-ratio: 1;
        background: var(--white);
        border-radius: 8px;
        max-width: 72px;
        width: 100%;
    }

    .countdown__label {
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        letter-spacing: -4%;
    }

    .countdown__custom {
        color: var(--white);
    }

    &.style-2 {

        .countdown__label {
            font-family: $font-main;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
        }

        .countdown__item {
            max-width: 96px;
            min-width: 80px;
            padding-top: 12px;
            padding-bottom: 12px;
        }
    }

    @include res(sm, min) {
        &.style-2 {

            .countdown__timer {
                justify-content: center;
            }
        }
    }

    @include res(xxl) {
        &.style-2 {
            flex: unset;
        }
    }

    @include res(sm) {
        &.style-2 {
            width: 100%;

            .countdown__timer {
                gap: 8px;
            }

            .countdown__item {
                aspect-ratio: 1;
                min-width: unset;
            }
        }
    }
}

.wg-timer {
    padding: 24px 16px;
    background: var(--bg-2);
    border-radius: 8px;
    display: grid;
    gap: 12px;
    place-items: center;
    text-align: center;
}

.gallery-v01 {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    @include flex(center, center);

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: #0000003D;
        backdrop-filter: blur(4px);
        z-index: 1;
        @include transition3;
        @include hidden;
    }

    .gallery-icon {
        position: absolute;
        font-size: 40px;
        z-index: 2;
        @include hidden;

        &:not(:hover) {
            color: var(--white);
        }
    }

    .gallery-image {

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            aspect-ratio: calc(469/585);
        }
    }



    &:hover {

        &::before,
        .gallery-icon {
            @include visible;
        }
    }

    &.style-3 {
        &::before {
            display: none;
        }

        .gallery-image {
            opacity: 0;
        }

        .gallery-content {
            position: absolute;
            inset: 0;
            padding: 20px 8px 8px 8px;
            display: flex;
            flex-direction: column;
            background: var(--bg);
        }

        .gallery_name,
        .gallery_desc {
            padding-left: 12px;
            padding-right: 12px;
            margin-bottom: 16px;
        }

        @include res(xl, min) {

            .gallery_name,
            .gallery_desc {
                padding-left: 32px;
                padding-right: 32px;
            }

            .gallery-content {
                padding-top: 40px;
            }
        }
    }

}

.gallery-v02 {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    display: flex;

    .gallery-video {
        display: flex;
        pointer-events: none;

        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
            aspect-ratio: calc(450/720);
            transform: scale(1.01);
        }
    }

    .gallery-image {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .gallery-content {
        position: absolute;
        bottom: 8px;
        right: 8px;
        left: 8px;
    }

    .gallery-content {
        background: var(--white);
        padding: 12px;
        border-radius: 16px;

        .gallery-product {
            display: flex;
            align-items: center;
            gap: 12px;
            margin-bottom: 12px;
        }

        .product-image {
            border-radius: 12px;
            max-width: 74px;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .product-info {
            display: grid;
            place-items: start;
            gap: 8px;
        }

        .btn-action {
            width: 100%;
        }
    }
}

.gallery-v03 {
    position: relative;
    border-radius: 8px;
    overflow: hidden;

    height: 100%;

    .gallery-content {
        padding: 20px 8px 8px 8px;
        display: flex;
        flex-direction: column;
        background: var(--bg);
        @include transition3;
        height: 100%;
    }

    .gallery_name,
    .gallery_desc {
        padding-left: 12px;
        padding-right: 12px;
        margin-bottom: 16px;
    }
}

.cta-subscribe-v01 {
    margin: 0 auto;
    background: var(--bg-4);
    border-radius: 8px;
}

.cta-subscribe-v02 {
    .content {
        background: var(--white);
        border-radius: 12px;
        padding: 48px;
        display: flex;
        justify-content: space-between;
        gap: 30px;

        .col-left {
            width: 100%;
        }

        .col-right {
            width: 100%;
        }
    }

    @include res(md, min) {
        .content {
            .col-left {
                max-width: 412px;
                width: 100%;
            }

            .col-right {
                max-width: 424px;
                width: 100%;
            }
        }
    }

    @include res(md) {
        .content {
            padding: 30px;
            flex-wrap: wrap;
        }
    }

    @include res(sm) {
        .content {
            padding: 20px 15px;
            flex-wrap: wrap;
        }
    }
}

.infiniteSlide-text-icon {
    overflow: hidden;

    .infiniteslide_wrap {
        padding-bottom: 20px;
        margin-bottom: -20px;
    }

    .infiniteSlide-wrapper {
        display: flex;
        flex-wrap: nowrap !important;
        white-space: nowrap !important;
    }

    .infiniteSlide-item {
        margin-left: 10px;
        margin-right: 10px;
    }

    &.style-2 {
        background: var(--black);
        padding-top: 24px;
        padding-bottom: 24px;
    }

    @include res(xl, min) {
        .infiniteSlide-item {
            margin-left: 20px;
            margin-right: 20px;
        }
    }
}

.infiniteSlide-text-icon-2 {

    .infiniteSlide-item {
        margin-left: 44px;
        margin-right: 44px;
    }

    .item {
        display: flex;
        align-items: center;
        gap: 8px;
        text-transform: uppercase;
    }
}

.infiniteSlide-text-icon-2 {}

.wg-box-author {
    display: flex;
    align-items: center;
    gap: 16px;

    .author-image {
        border-radius: 50%;
        overflow: hidden;
    }
}

.card-member {
    .member-image {
        border-radius: 8px;
        overflow: hidden;
        margin-bottom: 24px;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .member_text {
            position: absolute;
            left: 15px;
            right: 15px;
            bottom: 20px;
            z-index: 1;
            padding-left: 8px;
            border-left: 1px solid var(--white);
            @include hidden;
            @include transition3;

            @include res(xl, min) {
                left: 24px;
                right: 24px;
                bottom: 24px;
                padding-left: 12px;
            }
        }

        &::after {
            content: "";
            position: absolute;
            inset: 0;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.24) 80%, rgba(0, 0, 0, 0.72) 100%);
            @include transition3;
            @include hidden;
        }
    }
}

.wg-store {
    .store-image {
        border-radius: 8px 0px 0px 8px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .store-content {
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        border: 1px solid var(--line-5);
        border-radius: 0px 8px 8px 0px;
        gap: 24px;
    }

    .list-contact_infor {
        display: grid;
        gap: 16px;

        li {
            display: flex;
            align-items: center;
            gap: 8px;
        }

        .icon {
            font-size: 20px;
        }
    }

    @include res(md, min) {
        display: flex;

        >* {
            width: 50%;
        }

        .store-content {
            padding: 80px;
            border-left-width: 0;
        }

        .list-contact_infor {
            margin-bottom: 16px;
        }

        &.style-2 {
            .store-image {
                order: 1;
                border-radius: 0px 8px 8px 0px;
            }

            .store-content {
                order: 0;
                border-radius: 8px 0px 0px 8px;
                border-left-width: 1px;
                border-right-width: 0;
            }
        }
    }

    @include res(md) {
        .store-image {
            border-radius: 8px 8px 0px 0px;
        }

        .store-content {
            border-radius: 0px 0px 8px 8px;
        }
    }

    @include res(sm) {
        .store-image {
            img {
                min-height: 300px;
            }
        }

        .store-content {
            padding: 40px 15px;
            gap: 16px;
        }
    }
}

.grid-list_store {
    @include res(xl, min) {
        gap: 63px;
    }
}

.wg-assistance {
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background: var(--white);
    padding: 20px;

    .ic-wrap {
        @include flex(center, center);
        width: 64px;
        height: 64px;
        border-radius: 50%;
        background: var(--bg-2);
        font-size: 40px;
    }

    .assistance-desc {
        margin-bottom: 12px;
    }

    @include res(xl, min) {
        padding: 40px;

        .assistance-desc {
            margin-bottom: 32px;
        }
    }
}

.wg-ingredient {
    background: var(--bg-12);
    padding: 80px;
    display: grid;
    place-items: center;
    text-align: center;
    gap: 48px;

    .ing-image {
        max-width: 280px;
        border-radius: 50%;
        overflow: hidden;
    }

    @include res(xxl) {
        padding: 40px;
        gap: 24px;
    }
}

.text-and-image {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0px 12px;
    justify-content: center;

    .img {
        border-radius: 999px;
        overflow: hidden;
        display: inline-flex;
    }

    .break {
        flex-basis: 100%;
        height: 0;
    }

    @include res(xl) {
        .img {
            max-width: 80px;
        }
    }
}

.banner-gallery {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    background: var(--bg-4);
    padding: 40px;

    .col-left {
        display: flex;
        flex-direction: column;

        .title {
            margin-bottom: 24px;
        }

        .desc {
            margin-bottom: 30px;
        }

        .notice {
            margin-top: auto;
        }
    }

    .gallery-group {
        display: flex;
        gap: 16px;
    }

    @include res(lg, min) {
        .gallery-group {
            margin-bottom: 40px;
        }
    }

    @include res(xl, min) {
        .gallery-group {
            margin-bottom: 164px;
        }
    }

    @include res(lg) {
        flex-wrap: wrap;

        .col-left {
            .desc {
                margin-bottom: 24px;
            }
        }
    }

    @include res(md) {
        padding: 20px;

        .gallery-group {
            gap: 8px;
        }
    }
}

.wg-counter {
    padding: 32px;
    border-radius: 32px;
    box-shadow: 0px 1.56px 11.93px 0px #00000014,
        0px 1.04px 1.56px 0px #0000001F;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    .title {
        margin-top: auto;
        margin-bottom: 16px;
    }

    .sub {
        margin-bottom: 24px;
    }

    .desc {
        margin-top: auto;
    }

    &.style-2 {
        box-shadow: 0px 24px 24px -12px var(--elevationshadow),
            0px 3px 3px -1.5px var(--elevationshadow),
            0px 1px 1px -0.5px var(--elevationshadow);
        border: 1px solid var(--main_200);

        .title {
            margin-top: 0;
            margin-bottom: 24px;
        }

        .sub {
            margin-bottom: 16px;
        }

        .desc {
            margin-top: 0;
        }
    }

    @include res(xl, min) {
        aspect-ratio: 1;
    }

    @include res(xl) {
        padding: 30px 15px;
    }
}

.infiniteSlide-brand {
    .infiniteSlide-item {
        margin-left: 15px;
        margin-right: 15px;
    }

    @include res(lg, min) {
        .infiniteSlide-item {
            margin-left: 30px;
            margin-right: 30px;
        }
    }

    @include res(xl, min) {
        .infiniteSlide-item {
            margin-left: 40px;
            margin-right: 40px;
        }
    }
}

.frame-image {
    padding: 8px 8px 31px 8px;
    box-shadow: 0px 1.56px 11.93px 0px #00000014,
        0px 1.04px 1.56px 0px #0000001F;
    background: var(--surface);
    border-radius: 12px;
    position: relative;
    display: inline-flex;

    .ghim {
        position: absolute;
        top: -22px;
        right: 22px;
        z-index: 1;
    }

    .image {
        border-radius: 4px;
        overflow: hidden;
        width: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &.image-2 {
        .ghim {
            right: unset;
            left: 22px;
            transform: rotateY(180deg);
        }
    }
}

.wg-trusted {
    position: relative;

    .content {
        max-width: 954px;
        margin: 0 auto;
        position: relative;
        z-index: 1;
        padding-top: 147px;
        padding-bottom: 211px;
        margin-bottom: 85px;
    }

    @include res(sm, min) {
        .frame-image {
            position: absolute;

            &.image-1 {
                top: 3%;
                left: 20px;
                right: 60%;
                transform: rotate(-8deg);
            }

            &.image-2 {
                right: 3%;
                bottom: 25px;
                transform: rotate(8deg);
                left: 60%;
            }
        }

    }

    @include res(xl, min) {
        .frame-image {
            &.image-1 {
                right: 73.9%;
            }

            &.image-2 {
                left: 73.9%;
            }
        }
    }

    @include res(xxl, min) {
        .frame-image {
            &.image-1 {
                left: 28px;
            }

            &.image-2 {
                right: 28px;
            }
        }
    }

    @include res(md) {
        .content {
            padding-top: 80px;
            padding-bottom: 100px;
        }
    }

    @include res(sm) {
        display: flex;
        flex-wrap: wrap;
        gap: 32px 12px;

        .frame-image {
            width: calc(50% - 6px);
        }

        .content {
            padding: 0;
            margin-bottom: 30px;
        }
    }
}

.list-certified {
    display: flex;
    align-items: end;
    justify-content: center;
    gap: 80px;

    li {
        display: flex;
        align-items: center;
        gap: 24px;

        .name_cer {
            margin-bottom: 6px;
        }

        .certified {
            text-align: center;
            white-space: nowrap;
        }
    }

    @include res(xxl) {
        gap: 40px;

        li {
            gap: 12px;
        }
    }

    @include res(xl) {
        gap: 20px;
    }

    @include res(md) {
        flex-wrap: wrap;

        li {
            &:nth-child(2) {
                order: -1;
                width: 100%;
                justify-content: center;
            }
        }
    }
}

.showcase-card {
    position: relative;
    display: flex;

    .card-content {
        position: absolute;
        bottom: 8px;
        left: 8px;
        right: 8px;
        padding: 12px;
        padding-right: 20px;
        background: var(--white);
        border-radius: 24px;
        display: flex;
        align-items: center;
        gap: 16px;
    }

    .card-video {
        border-radius: 32px;
        overflow: hidden;
        max-height: 687px;
        width: 100%;

        video {
            aspect-ratio: calc(458/687);
            object-fit: cover;
        }
    }

    .prd-image {
        max-width: 68px;
        width: 100%;
        border-radius: 16px;
        overflow: hidden;
        flex-shrink: 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            aspect-ratio: calc(68/80);
        }
    }

    .prd-info {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 8px;
        flex-wrap: wrap;
    }

    .infor_name {
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        display: -webkit-box !important;
        overflow: hidden;
    }
}

.our-card {
    .card-image {
        border-radius: 12px;
        overflow: hidden;
        margin-bottom: 24px;
    }

    .card-content {
        text-align: center;
    }

    .name {
        margin-bottom: 16px;
    }

    @include res(xl, min) {
        .card-image {
            margin-bottom: 32px;
        }
    }
}

.wg-info-card {
    display: grid;
    gap: 16px;

    .info-card_top {
        display: flex;
        align-items: center;
        gap: 16px;
    }
}

.box-text-image-wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 6px 10px;

    .break {
        flex-basis: 100%;
        height: 0;
    }

    .image {
        display: flex;
        border-radius: 99px;
        overflow: hidden;

    }

    .wrap-icon-text {
        display: flex;
        align-items: center;
        gap: 12px;
        padding-left: 16px;
        padding-right: 16px;
        border-radius: 99px;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            border: 2px solid var(--black);
            border-radius: 99px;
            pointer-events: none;
        }
    }

    >.br-line {
        flex: 1;
    }

    @include res(xl, min) {
        gap: 16px 10px;

        .image {
            margin-left: 10px;
            margin-right: 10px;
        }

        .wrap-icon-text {
            gap: 20px;
            padding-left: 24px;
            padding-right: 24px;
        }
    }

    @include res(xl) {
        .image {
            max-width: 80px;
        }
    }

    @include res(md) {
        gap: 6px;
    }
}

.section-guide-2 {
    .col-left {
        padding: 40px;
        background: var(--black);
        border-radius: 20px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;

        .btn-action {
            margin-bottom: 24px;
        }
    }

    .group-nav_direct {
        align-items: end;
        width: 100%;

        .group-btn-action {
            display: flex;
            align-items: center;
            gap: 16px;
        }

        .btn-sw-nav {
            font-size: 24px;
            display: flex;
        }

        .sw-progress-default {
            height: 3px !important;
            overflow: hidden;
        }
    }

    .col-right {
        height: 100%;
        border-radius: 20px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    @include res(lg) {
        .col-left {
            padding: 40px 15px;
        }

        .col-right {
            img {
                max-height: 350px;
            }
        }
    }
}

.banner-lineup {
    padding: 24px;
    box-shadow: 0px 1.56px 11.93px 0px #00000014,
        0px 1.04px 1.56px 0px #0000001F;
    border-radius: 12px;

    .lineup-product {
        display: flex;
        align-items: center;
        gap: 16px;

        .prd-infor {
            display: flex;
            align-items: center;
            flex: 1;
            justify-content: space-between;
            gap: 16px;
        }

        .prd-image {
            border-radius: 8px;
            overflow: hidden;

            img {
                object-fit: cover;
                aspect-ratio: calc(68/80);
            }
        }
    }
}

/*-- Button Go Top --*/
#goTop {
    position: fixed;
    padding: 0;
    bottom: 40px;
    right: 20px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background: var(--white);
    color: var(--white);
    cursor: pointer;
    border: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08), 0 12px 30px rgba(0, 0, 0, 0.12);

    z-index: 50;
    @include flex(center, center);
    @include transition3;

    &.pst-2 {
        bottom: 160px;
    }

    .border-progress {
        position: absolute;
        top: -1px;
        left: -1px;
        width: calc(100% + 2px);
        height: calc(100% + 2px);
        border: 1px solid var(--black);
        mask-image: conic-gradient(var(--black) var(--progress-angle, 0deg),
                transparent 0);
        -webkit-mask-image: conic-gradient(var(--black) var(--progress-angle, 0deg),
                transparent 0);
        content: "";
        z-index: 1;
        @include transition3;

        border-radius: 50%;
    }

    &.show {
        opacity: 1;
        visibility: visible;
    }

    .icon {
        color: var(--black);
    }

    .ic-wrap {
        @include transition3;
        animation: iconBounce 2s linear 0s infinite;
        display: flex;
    }

    &:hover {
        box-shadow: 0 6px 20px rgba(#000, 0.3);
    }

    @include res(lg, min) {
        right: 40px;
        width: 48px;
        height: 48px;

        .icon {
            font-size: 24px;
        }
    }

    @include res(md) {
        &.pst-2 {
            bottom: 100px;
        }
    }

    @include res(sm) {
        bottom: 30px;
    }

    @include res(ssm) {
        &.pst-2 {
            bottom: 18%;
        }
    }
}

.infiniteSlide-gallery {
    .infiniteSlide-wrapper {}

    .infiniteSlide-item {
        margin-left: 8px;
        margin-right: 8px;
    }

    @include res(xxl, min) {
        .infiniteSlide-item {
            max-width: 469px;
        }
    }

    @include res(xxl) {
        .infiniteSlide-item {
            width: calc(100% / 3.5);
        }
    }

    @include res(xl) {
        .infiniteSlide-item {
            width: calc(100% / 2.5);
        }
    }

    @include res(md) {
        .infiniteSlide-item {
            width: calc(100% / 2);
        }
    }

    @include res(sm) {
        .infiniteSlide-item {
            width: calc(100% / 1.5);
        }
    }
}

.wrapper-lv2 {
    @include res(lg, min) {
        position: relative;
        z-index: 2;
    }
}